/* ====================================== */
/* ===== Historia Page style  Start ===== */
/* ====================================== */

/* Filter styling */
.historia-filter {
  margin: 0 0 1rem;
  padding: 0.75rem;
  background-color: #f8f8f2;
}

.historia-filter ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0 !important;
  margin: 0 !important;
  gap: 0.75rem; /* Increased gap for better vertical spacing */
}

/* Table styling */
.historia-events table {
  width: 100%;
  border-collapse: collapse;
  font-size: 1rem;
  table-layout: fixed;
  word-break: break-word;
}

.historia-events thead th {
  background-color: var(--green);
  color: var(--beige);
  text-align: left;
  padding: 0.4rem;
  border: none;
  border: 1px solid var(--green);
  border-bottom-width: 2px;
  border-bottom-color: var(--dark-green);
  width: 15%;
  white-space: nowrap;
}

.historia-events thead th:nth-child(2) {
  width: 20%;
}

.historia-events thead th:last-child {
  width: 35%;
}

.historia-events tbody tr:nth-child(odd) {
  background-color: #f0f0e8; /* Subtle light green-gray for zebra stripes */
}

.historia-events tbody tr:nth-child(even) {
  background-color: #ffffff; /* White for alternate rows */
}

.historia-events tbody tr:hover {
  background-color: #c7d0ae; /* Less bright hover color */
  color: #1f2518; /* Dark green text for hover */
}

.historia-events td {
  padding: 0.4rem;
  border: none;
  border-bottom: 1px solid #d4d4d4;
}

@media (max-width: 980px) {
  .historia-filter a {
    font-size: 1rem;
  }

  .historia-events table {
    font-size: 1rem;
    table-layout: auto;
  }

  .historia-events table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  .historia-events table td {
    display: flex;
    justify-content: start;
    gap: 1rem;
    border: none;
  }

  .historia-events table td::before {
    content: attr(data-label);
    font-weight: bold;
    width: 30%;
    flex-shrink: 0;
    color: var(--green);
  }
}
/* Active state for selected years or places buttons */
.year-link.active,
.place-link.active {
  background-color: var(--dark-green); /* WordPress blue */
  color: var(--yellow);
  border-color: #005177;
  font-weight: bold;
}
/* ===================================== */
/* =====  Historia Page style End  ===== */
/* ===================================== */
